@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-4 py-1 text-white rounded cursor-pointer bg-accent;
}
.btn-secondary {
  @apply px-4 py-1 border rounded cursor-pointer border-accent text-accent hover:bg-accent hover:text-white hover:underline;
}
.btn-tertiary {
  @apply px-4 py-1 text-white rounded cursor-pointer bg-dark;
}
.btn-accent {
  @apply px-4 py-1 rounded cursor-pointer text-light hover:bg-accent/20 hover:text-accent hover:underline;
}

/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Light grayish-black */
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* Darker on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* styling for markdown  */
.markdown-preview h1 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown-preview h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.markdown-preview h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Add spacing for paragraphs */
.markdown-preview p {
  margin-bottom: 1rem;
}
